*{
	margin:0;
	padding:0;
	/*text-align:center;*/
}

html,body{
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

#top-component{
	bottom:70%;
	margin-bottom: 5px;
}

#h-divider{
	bottom: 70%;
	height: 5px;
}

#bottom-component{
	height: 70%;
}

#left-component{
	width: 30%;
}

#v0-divider{
	left: 30%;
	width: 5px;
}

#right-component{
	left: 30%;
	margin-left: 5px;
}

#inner-left-component{
	right: 45%;
	margin-right: 5px;
}

#v1-divider{
	right: 45%;
	width: 5px;
}

#inner-right-component{
	width: 45%;
}

.content{
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
}

#playCanvas{
	margin:0px;
	padding:0px;
	display:block;
}

.display-none{
	/*display:none;*/
}

.pretty-split-pane-component-inner{
	border-radius: 10px;
}

.navbar{
	background-color:white;
}

/* 太鼓の譜面の種類を表すボタン部分 */
.kind,.divider{
	padding:2px;
}

/* ボタンの中にある画像がボタンの幅とかに対応するため */
.img-responsive{
	width:100%;
	height:auto;
}

.inner{
	background-color:#222222;
}

label{
	color:#ffffff;
	display:block;
}

.form{
	margin-top:1em;
}

/* よくわからないけど入れておくとchromeでいい感じになる */
.form-top{
	display:inline-block;
}

.navbar-form{
	text-align:right;
}

a{
	cursor:pointer;
}

#noscriptAlert{
	color:#ffffff;
}