@charset "utf-8";

*{
    text-align:center;
}

.btn{
    width:180px;
    margin:15px;
}

.jumbotron{
    background:linear-gradient(45deg,rgba(50,180,150,0.9), rgba(80,170,200, 0.8)),url("../img/header.jpg") center no-repeat;
    background-size:cover;
    text-align:center;
}

.jumbotron h1{
    font-size:60px;
    color:#fff;
    margin-top:130px;
    margin-bottom:50px;
}

.jumbotron .container div p{
    color:#fff;
    font-size:15px;
}


.row{
    padding-bottom:50px;
}

.title{
    font-size:20px;
}

.text{
    font-size:17px;
    margin-top:15px;
    margin-bottom:15px;
}

.col-xs-12{
    margin-bottom:40px;
}

