.logo{
  background: url("../img/icon.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 50px;
}

.navbar-brand{
    font-family:'HG行書体';
    font-size:30px;
}

.navbar-nav{
    font-family:"HG行書体";
}

footer {
    text-align: center;
    padding: 10px;
    background:linear-gradient(45deg,rgba(50,180,150,0.9), rgba(80,170,200, 0.9))
}

.copyright{
    color:#fff;
}